.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-background-color;
    padding: 4rem;
    color: $font-color;

    a {
        color: $font-color;
        text-decoration: none;
        margin-left: 1rem;
    }

    .social {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 2rem;

        a {
            margin-left: 0;
            margin: 1rem;
        }

        .social {
            font-size: 1.4rem;
        }
    }
}
