.header,
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid $highlights;
    padding: 1rem 4rem;

    .logo {
        height: 100px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .title a {
        text-decoration: none;
    }

    h1 {
        color: $font-color;
        margin-left: 1rem;
        font-family: $secondary-font;
    }
}

.header a,
.header .nav a {
    color: $font-color;
}

.header .nav a {
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

.header .nav a:hover {
    border-bottom: 2px solid $highlights;
}

.hidden {
    display: none !important;
}

.header li {
    transition: transform 0.2s;
}

.header li:hover {
    transform: scale(1.1);
}
