.landingpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box {
    background-color: $background-alternative-color;
    padding: 20px;
    text-align: center;

    a {
        color: $font-alternative-color;
    }
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.box-1 {
    grid-column: span 1;
}

.box-2 {
    grid-column: span 2;
}

.box-3 {
    grid-column: span 3;
}

.box-4 {
    grid-column: span 3;
}

.box-5 {
    grid-column: span 2;
}

.box-6 {
    grid-column: span 1;
}

.box-7 {
    grid-column: span 3;
}
