.main.technology {
    display: flex;
    gap: 1rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $background-alternative-color;
    padding-right: 1rem;

    .title {
        color: $background-alternative-color;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0;
    }

    a {
        color: $font-color;
        font-weight: 500;
    }
}

pre code {
    font-size: 10px;
}
