@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

$font-color: #181818;
$font-alternative-color: #eee;
$accent-color: #ee6c4d;
$background-color: #eee;
$background-alternative-color: #739072;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;
