$background-color: #f0f3f4;
$secondary-background-color: #cad3d4;
$font-color: #040d12;
$accent-color: #5c8374;
$highlights: #93b1a6;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;
