$background-color: #040d12;
$secondary-background-color: #020609;
$font-color: #93b1a6;
$accent-color: #5c8374;
$highlights: #183d3d;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;
